$font-family: 'Roboto', sans-serif;
$primary-bg-color: #182C61;
$secondary-bg-color: #44bd32;
$secondary-bg-color-hover: #4cd137;
$max-container-width: 1024px;
$medium-container-width: 80%;
$small-column-width: 48.5%;
$column-gap: 1%;
$medium-column-gap: 3%;
$product-margin-bottom: 32px;